<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Mark</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">

</head>
<body>
    <nav>
        <table class="table" id="mark">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Id Student</th>
                    <th>Id Subject</th>
                    <th>Mark</th>
                    <th>Note</th>
                </tr>
            </thead>
        </table>
    </nav>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
<script type="text/javascript">
    $(document).ready( function () {
        $('#mark').DataTable({
            "ajax": '../mark/lsMark',
            columns: [
                {data: "id"},
                {data: "idSv"},
                {data: "idSubject"},
                {data: "mark"},
                {data: "note"}
            ]
        })
    })
</script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>

</html>