<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>list subject</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">

</head>
<body>
    <nav>
        <table class="table" id="a">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Sem</th>
                    <th>Duration</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </nav>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
<script type="text/javascript">
    $(document).ready( function () {
        $('#a').DataTable({
            "ajax": '../subject/lsSubject',
            columns: [
                {data: "id"},
                {data: "name"},
                {data: "description"},
                {data: "sem"},
                {data: "duration"}
            ]
        })
    })
</script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>

</html>